/* Ensure body background can change dynamically */
body {
    display: grid;
    transition: background-color 0.5s ease;
    /* Smooth background color transition */
}

b {
    color: magenta;
}

b:hover {
    color: blue;
    font-size: 10vh;
}

.rosy {
    width: 60vh;
    height: 60vh;
}

.rosy:hover {
    height: 70vh;
    width: 70vh;
}

.noah {
    width: 25vh;
    height: 25vh;
    border: 5px solid orange;
    margin-top: 3vh;
}

.noah:hover {
    border: 22px dotted blue;
    width: 80vh;
    height: 25vh;
}
.noah-page {
    size: 10vh;
    color: blue;
}

.noahb {
    background-color: purple;
}